<IfModule mod_rewrite.c>
	RewriteEngine On

	#RewriteRule ^([(0-9)(a-z)]*\.cgi){1}$ [L]
	#Redirect Trailing Slashes...
	#RewriteRule ^(.*)/$ /$1 [L,R=301]

	# Handle Front Controller. . .
	#RewriteCond %{REQUEST_FILENAME} !-d
	#Rewritecond %{REQUEST_FILENAME} !-f
</IfModule>